<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">

    <title>
        {% block main_block_title %}Welcome!{% endblock %}
    </title>
    
    {# ici les stylesheets communs à toutes les pages: #}
    {#{ include('main_includes/main_incl_stylesheets.html.twig')}#}
    <link type="text/css" rel="stylesheet" href="{{ asset('css/bootstrap-reboot.min.css') }}" />
    <link type="text/css" rel="stylesheet" href="{{ asset('css/bootstrap-grid.min.css') }}" />
    <link type="text/css" rel="stylesheet" href="{{ asset('css/bootstrap.min.css') }}" />
    <link type="text/css" rel="stylesheet" href="{{ asset('css/app.css') }}" />

    {# ici les stylesheets custom, chaque twig écrasera avec ses propres stylsheets custom #}
    {% block main_block_customStylesheets %}
    
    {% endblock %}
</head>


<body class="bg-brownBlack_OFF">
    
    <header class="text-white">
        {{ include('layout_includes/layout_incl_header.html.twig') }}
    </header>

    
    
    {% block main_block_body %}

        <div class="jumbotron jumbotron-fluid">
            <div class="container">
                <h1 class="display-4">Page d'accueil</h1>
                <p class="lead">Site en préparation. les liens sont /register /login /moncompte</p>
            </div>
        </div>

        <div class="container">
            {% block fos_user_content %}
            {% endblock fos_user_content %}
        </div>

    {% endblock %}


    <footer>
        {{ include('layout_includes/layout_incl_footer.html.twig')}}
    </footer>


    {# ici les scripts communs à toutes les pages: #}
        {#{ include('layout_includes/layout_incl_scripts.html.twig')}#}
        <script src="{{ asset('js/jquery-3.3.1.min.js') }}"></script>
        <script src="{{ asset('js/bootstrap.min.js') }}"></script>
        <script src="{{ asset('js/app.js') }}"></script>

    {# ici les scripts custom, chaque twig écrasera avec ses propres scripts custom #}       
    {% block main_block_customJavascripts %}
    {% endblock %}

</body>

</html>